# System files
.DS_Store
Thumbs.db
.Trashes

# Logs & cache
storage/logs/*
storage/cache/*
storage/sessions/*
*.log

# Ignore SQLite database
database.sqlite

# Preserve empty dirs
!storage/.gitignore
!storage/logs/.gitignore
!storage/cache/.gitignore
!storage/sessions/.gitignore

# IDE/editor settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project